.movieRoot .column-content-shadow {
  padding: 1rem;
  border-radius: 10px;
  background: transparent;
  text-overflow: ellipsis;
  transition: background-color 100ms ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 0, 0, 0.2); }

.image-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  opacity: .04;
  z-index: -1;
  border-radius: 10px; }

.poster-large-img {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: .8;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  padding-bottom: 150%; }
