<section class="section" ng-controller="DiscoverCtrl" ng-init='glowna()'>
  <div class="container has-text-centered">
    <h1 class=" is-size-3 has-text-white">
      Popular today
    </h1>
  </div>
  <div class="container grid-container">
    <!-- CARD -->
    <div class="card is-horizontal grid-item" ng-repeat="movie in results">
      <a ng-href="#!/movie/{{movie.id}}" class="is-transparent" style="color: inherit; z-index: 40;">
        <div class="card-image">
          <figure class="image is-2by3">
            <img ng-src="{{movie.poster_path ? posterUrlSmall + movie.poster_path : 'assets/img/no-poster.jpg'}}" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">{{movie.title}}</p>
                <p class="subtitle is-6">{{movie.release_date ? movie.release_date.substr(0,4) : 'n/a'}}</p>
              </div>
            </div>
            <div class="content">
              <p>
                <span ng-repeat="genreId in movie.genre_ids">
                  <span ng-repeat="genre in genres" class="has-text-weight-bold" ng-if="genre.id === genreId">{{genre.name}},</span>
                </span>
              </p>
              <p>Votes: <b>{{movie.vote_count}}</b></p>
              <p>Average: <b>{{movie.vote_average}}</b></p>
              <a class="button is-white is-outlined" ng-class="isUserProfileLoading ? 'is-loading' : ''" ng-hide="isMovieInList(movie)" ng-disabled="isUserProfileLoading" ng-click="addMovie(movie)">Add to my list</a>
              <a class="button is-text btn-details" ng-href="#!/movie/{{movie.id}}">Details</a>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>