$radius: 10px;
$main-color-1: rgba(0, 36, 16, 1);
$main-color-2: rgba(18, 66, 131, 1);
$title-color: #fff;
$subtitle-color: hsla(0, 0%, 100%, .6);
$content-color: hsla(0, 0%, 100%, .6);
$shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
